page-login {
.inactive{display: none;}
// input.text-input{border: 1px solid grey;}
.extSettings{padding-left: 16px;margin-top: 5px;}
.extSettings a{color: #000 !important;}
.button{border: 1px solid;font-weight: bold;border-radius: 0;}
}
