page-home {
// .extSettings{padding-left: 16px;}
.extSettings a{font-size: 14px;text-decoration: underline;}
.button{border: 1px solid;font-weight: bold;border-radius: 0;}
p{color: #000!important;font-size: 1em!important;}
.status_val{margin-top: 8px;}
.status_label{font-size: 1.2rem!important;margin-bottom: 4px;}
}
